@{
    ViewData["Title"] = "Back Office";
}

<!-- .Tens de criar uma hiperligação algures no site que te encaminhe para esta pagina de perguntas: Esta é a pagina que vais apresentar 
      ao utilizador se testares os links não vais notar diferença mas se reparares no URL vais ver que mudou 
     .O importante é termos o trabalho separado, assim podes trabalhar á vontade no controlador AvaliacaoController em vez do TrilhosController -->
<hr class="divider" style="margin-top:10em">
<h2 class="text-center text-lg text-uppercase my-0" style="font-size:2em">
    Aqui vai ser o Index da pagina de perguntas que apresentarás ao 
    <strong>Utilizador</strong> 
</h2>
